body {
  font-family: helvetica,arial;
}
h1 {
  text-align: center;
}
form {
  padding: 0px 200px;
}
.form-group {
  margin-bottom: 15px;
}
* {
  box-sizing: border-box;
}
div {
  display: block;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  border: 1px solid #ccc;
}
.submit {
  display: inline-block;
  padding: 6px 12px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  background-color: #2196F3;
  color: white;
}
.form-hasil {
  display: block;
  width: 100%;
  padding: 6px 200px;
  margin-bottom: 15px;
}
